@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');

*{
	margin: 0px;
	padding: 0px;
	/*background: #ce0058;*/
}

.container{
	max-width: 1440px;
	margin: auto;
}

header {
    padding: 10px;
    text-align: center;
    background: #ce0058;
}

h1 span {
    font-size: 63px;
}
header h1 {
    font-family: sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 35px;
    transform: scaleY(2.5);
}

.categories {
    padding: 20px;
}

.categories .category-col {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.categories .category-col .category {
    height: 100px;
    text-align: center;
    /*background: rgba(206, 0, 88, 0.8);*/
    border-radius: 40px;
    /*box-shadow: 0px 0px 1px 0px #000;*/
    display: flex;
    align-items: center;
    padding: 0px 50px;
    flex-direction: column;
    justify-content: space-around;
}

.categories .category-col .category h4 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    color: #CE0058;
}

.categories .category-col .category img {
    width: 52px;
}

.mountain-img{
	padding-top: 80px;
}

.mountain-img img{
	width: 100%;
}

section.category-sec {
    position: absolute;
    right: 0;
    left: 0;
}